.big-title {
  margin-bottom: 1em;
}
h4.big_title {
  font-size: 1.1em;
  color: #212121;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  font-weight: 700;
}
p.title-para {
  text-align: center;
  font-size: 0.9em;
  color: #585857;
  letter-spacing: 8px;
}

h4.big_title:after {
  content: "";
  background: #0066b2;
  height: 6px;
  width: 18%;
  position: absolute;
  border-radius: 70px;
  top: 46%;
  left: -8%;
}
h4.big_title:before {
  content: "";
  background: #0066b2;
  height: 6px;
  width: 18%;
  position: absolute;
  border-radius: 70px;
  top: 46%;
  right: -8%;
}

/*!
 TITLE TEXT 2 
*/
.big-title2 {
  margin-bottom: 1em;
}
h4.big_title2 {
  font-size: 1.1em;
  color: #212121;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  font-weight: 700;
}
p.title-para2 {
  text-align: center;
  font-size: 0.9em;
  color: #585857;
  letter-spacing: 8px;
}

h4.big_title2:after {
  content: "";
  background: #0066b2;
  height: 6px;
  width: 18%;
  position: absolute;
  border-radius: 70px;
  top: 46%;
  left: -8%;
}

h4.big_title2:before {
  content: "";
  background: #0066b2;
  height: 6px;
  width: 18%;
  position: absolute;
  border-radius: 70px;
  top: 46%;
  right: -8%;
}

/*!
 TITLE TEXT 3 
*/
.big-title3 {
  margin-bottom: 1em;
}
h4.big_title3 {
  font-size: 1.1em;
  color: #212121;
  text-transform: uppercase;
  position: relative;
  text-align: center;
  font-weight: 700;
}
p.title-para3 {
  text-align: center;
  font-size: 0.9em;
  color: #585857;
  letter-spacing: 8px;
}

h4.big_title3:after {
  content: "";
  background: #0066b2;
  height: 6px;
  width: 18%;
  position: absolute;
  border-radius: 70px;
  top: 46%;
  left: -8%;
}

h4.big_title3:before {
  content: "";
  background: #0066b2;
  height: 6px;
  width: 18%;
  position: absolute;
  top: 46%;
  border-radius: 70px;
  right: -8%;
}
